[Unit]
Description=cyhy-runner service
After=network.target
RequiresMountsFor=/var/cyhy/runner

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/var/cyhy
ExecStart=/usr/local/bin/cyhy-runner /var/cyhy/runner
Restart=on-failure

[Install]
WantedBy=multi-user.target
