---
# tasks file for client_cert_update

#
# client_cert_update secrets
#
- name: Create the secrets directory
  ansible.builtin.file:
    group: cyhy
    mode: 0755
    owner: cyhy
    path: /var/cyhy/client-cert-update/secrets
    state: directory

- name: Create the credentials file to allow reading the scan database
  ansible.builtin.template:
    dest: /var/cyhy/client-cert-update/secrets/scan_read_creds.yml
    group: cyhy
    mode: 0440
    owner: cyhy
    src: scan_read_creds.yml.j2

- name: Create the AWS config
  ansible.builtin.template:
    dest: /var/cyhy/client-cert-update/secrets/aws_config
    group: cyhy
    mode: 0440
    owner: cyhy
    src: aws_config.j2
#
# Create a cron job
#
- name: Create the cron job
  block:
    - name: Add /usr/local/bin to cron's path
      ansible.builtin.cron:
        env: yes
        name: PATH
        user: cyhy
        value: /usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin

    # This cron job runs at 5AM UTC on Tuesday mornings
    - name: Create a cron job for updating the list of hosts that require client certs
      ansible.builtin.cron:
        hour: '5'
        job: cd /var/cyhy/client-cert-update && docker-compose up -d 2>&1 | /usr/bin/logger -t client-cert-update
        minute: '0'
        name: "client cert update"
        user: cyhy
        weekday: '2'
  when: production_workspace|bool
