---
- hosts: all
  name: Install Python and Pip
  become: yes
  become_method: sudo
  roles:
    - role: pip
      vars:
        # Install pip2 for all images that will run Python 2 CyHy code.
        # Right now these are the dashboard, mongo, and reporter AMIs.
        install_pip2: "{{ inventory_hostname_short is in ['dashboard', 'mongo', 'reporter'] }}"
    - role: python
      vars:
        # Install Python 2 for images that will run Python 2 CyHy code.
        # Right now these are the dashboard, mongo, and reporter AMIs.
        install_python2: "{{ inventory_hostname_short is in ['dashboard', 'mongo', 'reporter'] }}"

# Any instances that are not built on Amazon Linux 2 and don't require
# Python 2 should have it removed.
#
# Amazon Linux 2 is antiquated and requires Python 2 to function, and
# the remove_python2 Ansible role is a no-op on that platform.
- hosts: bastion,docker,nessus,nmap
  name: Remove Python 2
  become: yes
  become_method: sudo
  roles:
    - remove_python2
