[DEFAULT]
default-section = production
database-uri = mongodb://database1.cyhy:27017/
report-key =

; BEGIN ANSIBLE MANAGED BLOCK commander
[production]
database-uri = mongodb://{{ commander_user }}:{{ commander_pw }}@database1.cyhy:27017/{{ commander_db }}
database-name = {{ commander_db }}
; END ANSIBLE MANAGED BLOCK commander
