---
# tasks file for code_gov_update

#
# code_gov_update secrets
#
- name: Create the secrets directory
  ansible.builtin.file:
    group: cyhy
    mode: 0755
    owner: cyhy
    path: /var/cyhy/code-gov-update/secrets
    state: directory

- name: Create the llnl-scraper config
  ansible.builtin.template:
    dest: /var/cyhy/code-gov-update/secrets/scraper.json
    group: cyhy
    mode: 0440
    owner: cyhy
    src: scraper.json.j2

- name: Create the AWS config
  ansible.builtin.template:
    dest: /var/cyhy/code-gov-update/secrets/aws_config
    group: cyhy
    mode: 0440
    owner: cyhy
    src: aws_config.j2

#
# Create a cron job
#
- name: Create the cron job
  block:
    - name: Add /usr/local/bin to cron's path
      ansible.builtin.cron:
        env: yes
        name: PATH
        user: cyhy
        value: /usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin

    # This cron job runs at midnight UTC on Friday mornings
    - name: Create a cron job for updating the code.gov JSON
      ansible.builtin.cron:
        hour: '0'
        job: cd /var/cyhy/code-gov-update && docker-compose up -d 2>&1 | /usr/bin/logger -t code-gov-update
        minute: '0'
        name: "code.gov update"
        user: cyhy
        weekday: '5'
  when: production_workspace|bool
