# Provision a Management Bastion EC2 instance via Ansible
module "mgmt_bastion_ansible_provisioner_$index" {
  source = "github.com/cloudposse/terraform-null-ansible"

  arguments = [
    "--user=$${var.remote_ssh_user}",
    "--ssh-common-args='-o StrictHostKeyChecking=no'"
  ]
  envs = [
    "host=$${var.mgmt_bastion_public_ip[$index]}",
    "host_groups=mgmt_bastion"
  ]
  playbook = "../ansible/playbook.yml"
  dry_run = false
}
