[DEFAULT]
default-section = cyhy
database-uri = mongodb://database1.cyhy:27017/
report-key = {{ cyhy_reporter_master_report_key }}

[cyhy]
database-uri = mongodb://{{ cyhy_reporter_commander_user }}:{{ cyhy_reporter_commander_pw }}@database1.cyhy:27017/{{ cyhy_reporter_commander_db }}
database-name = {{ cyhy_reporter_commander_db }}

[scan]
database-uri = mongodb://{{ cyhy_reporter_scan_reader_user }}:{{ cyhy_reporter_scan_reader_pw }}@database1.cyhy:27017/{{ cyhy_reporter_scan_reader_db }}
database-name = {{ cyhy_reporter_scan_reader_db }}
