[Unit]
Description=cyhy-commander service
After=network.target mongod.service

[Service]
Type=simple
User=cyhy
Group=cyhy
WorkingDirectory=/var/cyhy
ExecStart=/usr/local/bin/cyhy-commander -d /var/cyhy/commander
Restart=on-failure

[Install]
WantedBy=multi-user.target
