[Unit]
Description=cyhy-commander service
After=network.target

[Service]
Type=simple
User=cyhy
WorkingDirectory=/var/cyhy
ExecStart=/usr/local/bin/cyhy-commander --stdout-log /var/cyhy/commander
Restart=on-failure

[Install]
WantedBy=multi-user.target
