---
database:
  name: {{ client_cert_update_scan_reader_db }}
  uri: mongodb://{{ client_cert_update_scan_reader_user }}:{{ client_cert_update_scan_reader_pw }}@database1.cyhy:27017/{{ client_cert_update_scan_reader_db }}
version: "1"
