---
# tasks file for cyhy_mailer

#
# cyhy-mailer secrets
#
# The cyhy-mailer container does not run as root, so the creds files
# need to be globally readable.  docker-compose does allow one to
# specify the uid, gid, and mode of the secrets files, but that only
# works in swarm mode.
#
- name: Create the secrets directory for cyhy-mailer
  ansible.builtin.file:
    group: cyhy
    mode: 0755
    owner: cyhy
    path: /var/cyhy/cyhy-mailer/secrets
    state: directory

- name: Create the cyhy-mailer credentials file to allow reading the cyhy database
  ansible.builtin.template:
    dest: /var/cyhy/cyhy-mailer/secrets/database_creds.yml
    group: cyhy
    mode: 0444
    owner: cyhy
    src: database_creds.yml.j2

- name: Create the AWS config
  ansible.builtin.template:
    dest: /var/cyhy/cyhy-mailer/secrets/aws_config
    group: cyhy
    mode: 0444
    owner: cyhy
    src: aws_config.j2

# docker-compose will automatically use docker-compose.yml and
# docker-compose.override.yml, so this is a way for us to tune
# docker-compose's behavior to the particular machine.
#
# In our case we want to send the BOD 18-01 reports on the BOD docker
# instance and the CyHy-related reports on the reporter instance.
- name: Create a symlink for the docker-compose override file
  ansible.builtin.file:
    group: cyhy
    mode: 0664
    owner: cyhy
    path: /var/cyhy/cyhy-mailer/docker-compose.override.yml
    src: /var/cyhy/cyhy-mailer/{{ docker_compose_override_file_for_mailer }}
    state: link

#
# Create a cron job for the sending of reports
#
# - name: Create the cron job
#   block:
#     - name: Add /usr/local/bin to cron's path
#       ansible.builtin.cron:
#         env: yes
#         name: PATH
#         user: cyhy
#         value: /usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin

#     - name: Create a cron job for sending BOD 18-01 reports
#       ansible.builtin.cron:
#         hour: 12
#         job: cd /var/cyhy/cyhy-mailer && docker-compose up -d 2>&1 | /usr/bin/logger -t cyhy-mailer
#         minute: 0
#         name: "Sending BOD 18-01 reports"
#         user: cyhy
#         weekday: 1
#   when: production_workspace
