[default]
region = {{ cyhy_feeds_aws_region }}

[profile elasticsearch]
credential_source = Ec2InstanceMetadata
region = {{ cyhy_feeds_dmarc_import_aws_region }}
role_arn = {{ cyhy_feeds_dmarc_import_es_role }}
