[Unit]
Description=ncats-webui service

[Service]
Type=oneshot
RemainAfterExit=yes
Restart=on-failure
RestartSec=10
User=cyhy
ExecStart=/usr/bin/make -C /var/cyhy/ncats-webui/ dev-start
ExecStop=/usr/bin/make -C /var/cyhy/ncats-webui/ dev-stop
