[DEFAULT]
default-section = production
database-uri = mongodb://database1.cyhy:27017/
report-key =

[production]
database-uri = mongodb://{{ cyhy_dashboard_commander_user }}:{{ cyhy_dashboard_commander_pw }}@database1.cyhy:27017/{{ cyhy_dashboard_commander_db }}
database-name = {{ cyhy_dashboard_commander_db }}
