[Unit]
Description=ncats-webui service

[Service]
Type=simple
Restart=on-failure
RestartSec=10
User=cyhy
ExecStart=/usr/bin/make -C /var/cyhy/ncats-webui/ dev-start
