---
# tasks file for docker
- name: Install prerequisites so apt can use a repo over HTTPS
  package:
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg2  
      - software-properties-common

- name: Get official Docker GPG key
  apt_key:
    url: https://download.docker.com/linux/debian/gpg
    id: 0EBFCD88

- name: Copy sources list for official Docker package repo
  copy:
    src: docker.list
    dest: /etc/apt/sources.list.d
    mode: 0644

- name: Update the cache with the Docker goodness
  package:
    update_cache: yes

- name: Install docker
  package:
    name: docker-ce

# Unless you do this, systemd can sometimes get confused when you try
# to start a service you just installed
- name: Systemd daemon-reload
  systemd:
    daemon_reload: true
  when:
    - ansible_service_mgr == "systemd"

- name: Enable docker
  service:
    name: docker
    enabled: yes

- name: Install docker-compose
  pip:
    executable: pip3
    name: docker-compose
