[profile lambda]
region = {{ orchestrator_aws_region }}

[profile elasticsearch]
credential_source = Ec2InstanceMetadata
region = {{ orchestrator_dmarc_import_aws_region }}
role_arn = {{ orchestrator_dmarc_import_es_role }}
