---
# tasks file for cyhy_feeds

#
# Grab and copy some secrets from S3
#
- name: Grab secrets from S3
  local_action:
    module: aws_s3
    bucket: ncats-cyhy-secrets
    object: "{{ item }}"
    dest: "/tmp/{{ item }}"
    mode: get
  become: no
  loop:
    - cyhy-data-extract.cfg
    - ncats_lab_public_gpg.key
    - ncats_lab_private_gpg.key
    - nsd_cyhy_daily_extract_public.key
    - gpg_keys.trust

- name: Copy secrets
  copy:
    src: "/tmp/{{ item }}"
    dest: "/var/cyhy/scripts/cyhy-feeds/{{ item }}"
    mode: 0444
    owner: cyhy
    group: cyhy
  loop:
    - cyhy-data-extract.cfg
    - ncats_lab_public_gpg.key
    - ncats_lab_private_gpg.key
    - nsd_cyhy_daily_extract_public.key
    - gpg_keys.trust

#
# Import keys and trust
#

# The --batch flag makes sure that gpg2 doesn't attempt to do anything
# interactive.
- name: Import gpg keys
  shell: "gpg2 --trustdb-name /var/cyhy/.gnupg/trustdb.gpg --import --batch /var/cyhy/scripts/cyhy-feeds/{{ item }}"
  become_user: cyhy
  vars:
    ansible_ssh_pipelining: yes
  loop:
    - ncats_lab_public_gpg.key
    - ncats_lab_private_gpg.key
    - nsd_cyhy_daily_extract_public.key

- name: Import gpg trust
  shell: "gpg2 --import-ownertrust --batch /var/cyhy/scripts/cyhy-feeds/gpg_keys.trust"
  become_user: cyhy
  vars:
    ansible_ssh_pipelining: yes

#
# Cleanup
#
- name: Delete local copies of secrets
  local_action:
    module: file
    path: "/tmp/{{ item }}"
    state: absent
  become: no
  loop:
    - cyhy-data-extract.cfg
    - ncats_lab_public_gpg.key
    - ncats_lab_private_gpg.key
    - nsd_cyhy_daily_extract_public.key
    - gpg_keys.trust

#
# Create /etc/cyhy/cyhy.conf file
#
- name: Grab mongo users from S3
  local_action:
    module: aws_s3
    bucket: ncats-cyhy-secrets
    object: mongo_users.yml
    dest: /tmp/mongo_users.yml
    mode: get
  become: no

- name: Load mongo users token from YML file
  local_action:
    module: include_vars
    file: /tmp/mongo_users.yml
    name: mongo_users

- name: Create /etc/cyhy directory
  file:
    path: /etc/cyhy
    state: directory

#
# Set up /etc/cyhy/cyhy.conf with commander and scan-reader creds
#
# This is a little messy.  The real solution is to just create a
# cyhy.conf with credentials for each user in mongo_users.other_users.
# That will cause some heartburn, though, since the credential
# sections will have to be named using the MongoDB username.  That
# will necessitate some changes elsewhere in the code where named
# sections from cyhy.conf are explicitly referenced.
- name: Check if cyhy.conf already exists
  stat:
    path: /etc/cyhy/cyhy.conf
  register: cyhy_conf_result

- name: Create cyhy.conf (with scan-reader credentials) if it doesn't exist
  copy:
    dest: /etc/cyhy/cyhy.conf
    owner: cyhy
    group: cyhy
    mode: 0660
    content: |
      [DEFAULT]
      default-section = production
      database-uri = mongodb://localhost:27017/
      report-key =

      ; BEGIN ANSIBLE MANAGED BLOCK commander
      [production]
      database-uri = mongodb://commander:{{ mongo_users.other_users | selectattr("user", "eq", "commander") | map(attribute="password") | first }}@database1:27017/cyhy
      database-name = cyhy
      ; END ANSIBLE MANAGED BLOCK commander

      ; BEGIN ANSIBLE MANAGED BLOCK scan-reader
      [production_scan_reader]
      database-uri = mongodb://scan-reader:{{ mongo_users.other_users | selectattr("user", "eq", "scan-reader") | map(attribute="password") | first }}@database1:27017/scan
      database-name = scan
      ; END ANSIBLE MANAGED BLOCK scan-reader

      ; BEGIN ANSIBLE MANAGED BLOCK assessment-reader
      [production_assessment_reader]
      database-uri = mongodb://assessment-read:{{ mongo_users.other_users | selectattr("user", "eq", "assessment-read") | map(attribute="password") | first }}@database1:27017/assessment
      database-name = assessment
      ; END ANSIBLE MANAGED BLOCK assessment-reader
  when: cyhy_conf_result.stat.exists == False

# This should be changed in the future to use a read-only Mongo user.
- name: Add commander credentials block to cyhy.conf if necessary
  blockinfile:
    path: /etc/cyhy/cyhy.conf
    marker: '; {mark} ANSIBLE MANAGED BLOCK commander'
    block: |
      [production]
      database-uri = mongodb://commander:{{ mongo_users.other_users | selectattr("user", "eq", "commander") | map(attribute="password") | first }}@database1:27017/cyhy
      database-name = cyhy
  when: cyhy_conf_result.stat.exists == True

- name: Add scan-reader credentials block to cyhy.conf if necessary
  blockinfile:
    path: /etc/cyhy/cyhy.conf
    marker: '; {mark} ANSIBLE MANAGED BLOCK scan-reader'
    block: |
      [production_scan_reader]
      database-uri = mongodb://scan-reader:{{ mongo_users.other_users | selectattr("user", "eq", "scan-reader") | map(attribute="password")| first }}@database1:27017/scan
      database-name = scan
  when: cyhy_conf_result.stat.exists == True

- name: Add assessment-reader credentials block to cyhy.conf if necessary
  blockinfile:
    path: /etc/cyhy/cyhy.conf
    marker: '; {mark} ANSIBLE MANAGED BLOCK assessment-reader'
    block: |
      [production_assessment_reader]
      database-uri = mongodb://assessment-read:{{ mongo_users.other_users | selectattr("user", "eq", "assessment-read") | map(attribute="password") | first }}@database1:27017/assessment
      database-name = assessment
  when: cyhy_conf_result.stat.exists == True
#
# Create a cron job to run the extract script nightly at 0815 (UTC) as
# cyhy
#
- name: Set up nightly cron job to sync NSD data for MOE extract
  cron:
    name: Nightly cyhy extract
    hour: 08
    minute: 15
    user: cyhy
    job: cd /var/cyhy/scripts/cyhy-feeds && python2.7 /var/cyhy/scripts/cyhy-feeds/cyhy-data-extract.py --cyhy_section production --scan_section production_scan_reader --assessment_section production_assessment_reader --aws --config /var/cyhy/scripts/cyhy-feeds/cyhy-data-extract.cfg 2>&1 | /usr/bin/logger -t cyhy-feeds
  when: production_workspace
