{
  "GitHub": [
    {
      "exclude": [],
      "orgs": [
        "cisagov",
        "US-CBP",
        "usdhs"
      ],
      "public_only": true,
      "repos": [],
      "token": "{{ code_gov_update_github_pat }}",
      "url": "https://github.com"
    }
  ],
  "agency": "DHS",
  "contact_email": "do_not_email_just_use_github@dhs.gov",
  "permissions": {
    "exemptionText": "Code in agency repositories follow the license provided in the repository.",
    "usageType": "openSource"
  }
}
